.todo-list {
  &__paper {
    width: 95%;
    padding: 12px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 24px;
    overflow-wrap: break-word;
  }
}
